venv
.idea
client_secret.json
test.py
python/credential_sample.json
.env
metadata.json
developer_key
replay.bat
to_upload.json
youtube.com.pkl
geckodriver.exe
geckodriver.log
POROFESSOR_MANAGER.html
queue_consumer.py